<!doctype html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Strava API Site</title>
        {% else %}
        <title> Strava API site</title>
        {% endif %}
    </head>
    <body>
        <div>
            Strava API Site:
            <a href="{{ url_for('main.index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('auth.login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('clubs.club_list') }}">Clubs</a>
            <a href="{{ url_for('strava.logout') }}">Logout</a>
            {% endif %}
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>